:root{
    --active-color: #0061ff;
    --w-color: #fff;
    --j-color: #b4d0e7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}



header{
    position: fixed;
    background-color: var(--w-color);
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 1;
}






/* GENERALE */

.c-link{
    list-style: none;
    align-items: center;
}

.c-link li{
    display: inline-block;
    padding: 0px 15px;
}







/* Bottoni */

.button{
    background-color: var(--active-color);
    color: var(--w-color);
    padding: 10px 10px;
    text-decoration: none;
}

.button-s{
    background-color: var(--active-color);
    color: var(--w-color);
    padding: 5px 10px;
    text-decoration: none;
}

.button-s2{
    color: gray;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid gray;
}

.button-s3{
    background-color: var(--w-color);
    color: black;
    padding: 10px 40px;
    text-decoration: none;
}


/* Allineamenti */

.item-center{
    align-items: center;
}






/* contenitori */

.container-big{
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
}

.container{
    width: 70%;
    max-width: 850px;
    margin: 0 auto;
}

.full-w{
    width: 100%;
}






/* font style */

.st-font{
    font-size: 0.8rem;
}

.titolone{
    font-size: 60px;
}

.titolo{
    font-size: 32px;
}

.titolo-c{
    font-size: 20px;
}

.reset-link{
    text-decoration: none;
}




/* margin */

.margin-big{
    margin: 80px 0px;
}

.margin-s{
    margin: 40px 0px;
}

.margin-small{
    margin: 10px 0px;
}




/* color */

.bg-design{
    background-color: #a2d39b;
}

.bg-uni{
    background-color: #61082b;
}

.bg-uf{
    background-color: #0093ce;
}

.bg-top{
    background-color: #ff1c1c;
}

.bg-wbr{
    background-color: #d5001f;
}

.bg-hear{
    background-color: #b4d0e7;
}

.bg-lonl{
    background-color: #0d2481;
}

.bg-cc{
    background-color: #ffd830;
}

.bg-c-design{
    background-color: #f5f5f5;
}

.standard-color{
    color: #000000;
}

.active-color{
    color: var(--active-color);
}







/* HEADER */




/* Container header */

.container-h{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--w-color);
}


/* sezione di sinistra */

.c-plan{
    width: 100%;
    align-items: center;
    display: flex;
    padding: 18px 0px;
}

.logo-h{
    padding: 0px 15px;
}

.logo-h img{
    height: 20px;
}





/* Sezione di destra */

.c-support{
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
    padding: 18px 0px;
}












/* MAIN */

.jumbo{
    width: 100%;
    background-color: var(--j-color);
    padding-top: 120px;

}

/* Contenitore Jumbo */


.container-box{
    display: flex;
    margin-top: 40px;
}



/* box sinistra */

.free-plan{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}

.free-plan a{
    display: inline-block;
}

.box-txt{
    padding: 0px 15px ;
    
}

.box-txt > a{
    margin: 10px 0px;
    font-size: 0.8rem;
}

.main-box-txt{
    margin-bottom: 20px;
    font-size: 0.70rem;
}

.arrow{
    font-size: 35px;
    margin: 40px 0px 5px 0px;
}

/* box destra */

.big-img{
    width: 70%;
    position: relative;
}

.big-img img{
    width: 100%;
    position: absolute;
}








/* SEZIONE SELECT PLAN */

/* business plan */

.business-plan{
    margin-top: 120px;
}

.select-card{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0px;
}

.select-plan span{
    margin-right: 60px;
}

.select-plan span::before{
    content: '';
    border: 1px solid gray;
    padding: 0px 8px;
    border-radius: 50%;

}





/* Card */

.card{
    margin: 10px 10px;
    width: calc(100% / 3 - 20px);
    border: 1px solid rgba(128, 128, 128, 0.5);
    
}

/* Header card */

.card-header{
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    width: 100%;
    text-align: center;
    padding: 8px 0px;
}


/* Main card */

.card-main{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    
}


.card-main > span{
    display: inline-block;
}

.price{
    margin: 15px 0px;
    font-weight: bold;
}

.card-main hr{
    width: 20%;
    margin: 30px 0px;
    
}

.card-description{
    margin-top: 40px;
}

.box-card{
    display: flex;
    margin: 10px 0px;
}

.card-description .icon{
    width: 10%;
}

.card-description .desc{
    width: 90%;
}


/* Card orizzontale */

.hz-container{
    width: 100%;
    padding: 10px;
}

.hz-card{
    width: 100%;
    margin-top: 40px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.hz-card-main{
    display: flex;
}

.hz-card-main .desc{
    width: 70%;
    padding: 20px 0px 20px 20px;
}

.hz-card-main .desc h5{ 
    margin: 20px 0px 40px 0px;
}

.hz-card-main .buy{
    width: 30%;
    padding: 18px;
}

.buy-container{
    text-align: center;
    display: flex;
}






/* Sezione partner */

.box-partner{
    display: flex;
}

.box-partner .img-box{
    width: 60%;
}

.box-partner .img-box img{
    width: 100%;

}

.box-partner .desc{
    width: 40%;
    padding: 35px;

}

/* Sezione functions */

.container-function{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-function{
    width: calc(100% / 3 - 20px);
    margin-top: 20px;

}

.card-function img{
    width: 100%;
}

.card-function h3{
    margin-bottom: 30px;
}

/* Sezione multibox */

.multibox{
    width: 100%;
    display: flex;
    height: 60vh;
    min-height: 480px;
}

.colum-box{
    width: calc(100% / 3);
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}

.colum-box .case{
    width: calc(100% / 2);
    height: calc(100% / 2);
    padding: 25px;
}


.colum-box .case .cont-img{
    width: 100%;
    height: 100%;
    position: relative;
}


.colum-box .case .cont-img img{
    width: 100%;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.big-case{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 40px;
}

.big-case hr{
    width: 20%;
}

.big-case .header-case img{
    width: 50%;
}





/* Section plan company */

.plan-company{
    width: 100%;
    background-color: #b4d0e7;
    padding: 80px 0px;
    display: flex;
}


.box-partner .st-trial{
    width: 40%;
    text-align: center;
}




/* faq */

.requests{
    border-top: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    
}

.request{
    margin: 40px 0px;
    width: 90%;
    
}



.request p{
    display: none;
}

.icon-arrow{
    width: 10%;
    margin: 40px 0px;
    text-align: center;    

}

.requests:hover p{
    display: block;
}

.requests:hover .icon-arrow{
    transform: scale(1, -1);
}

/* footer */

.container-f{
    background-color: #000000;
    padding: 40px 0px;
}

.section-footer{
    display: flex;
}

.section{
    width: calc(100% / 5);
    color: var(--w-color)
}

.section ul{
    list-style: none;
    color: var(--w-color);
    margin-top: 20px;
}

.section ul li a{
    font-size: 0.8rem;
    color: var(--w-color);
}

.container-f hr{
    color: gray;
    width: 10%;
    margin: 40px 0px;
}



.lang span{
    color: gray;
}

.container-footer{
    width: 70%;
    max-width: 950px;
    margin: 0 auto;
    margin-top: 20px;
}



